<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.content">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.android.content.activity.ChangeReminderSettingActivity">

        </activity>
        <activity
            android:name="com.example.android.content.activity.DetailTVShowActivity"
            android:label="@string/tv_show" />
        <activity
            android:name="com.example.android.content.activity.DetailMovieActivity"
            android:label="@string/movie" />
        <activity
            android:name="com.example.android.content.loading.LoadingMovieDetail"
            android:label="@string/movie" />
        <activity
            android:name="com.example.android.content.loading.LoadingTVShowDetail"
            android:label="@string/tv_show" />
        <activity
            android:name="com.example.android.content.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.android.content.provider.FavoriteProvider"
            android:authorities="com.example.android.content"
            android:exported="true"
            android:readPermission="com.example.android.content.READ_DATABASE"
            android:writePermission="com.example.android.content.WRITE_DATABASE"></provider>

        <receiver android:name="com.example.android.content.widget.FavoriteTVShowWidget">
            <intent-filter>x
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>
        <receiver android:name="com.example.android.content.widget.FavoriteMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>

        <receiver
            android:name="com.example.android.content.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.example.android.content.widget.MovieStackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="com.example.android.content.widget.TVShowStackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

    <permission
        android:name="com.example.android.content.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <permission
        android:name="com.example.android.content.READ_DATABASE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>